<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view page</title>
</head>
<body>
    <div>
        <div><%= data.id %></div> <br>
        <div><%= data.writer %></div> <br>
        <div><%= data.title %></div> <br>
        <div><%= data.content %></div> <br> <br>
        <a href="/update/<%= data.id %>">수정</a> <br>
        <a href="/delete/<%= data.id %>">삭제</a> <br>
    </div>
</body>
</html>